<div class="parallax-container">
  <div class="parallax-group">
    <div class="parallax-background bg-yosemite"></div>

    <div class="parallax-base">
      <div class="container">
        <header>
          <dk-header></dk-header>
        </header>

        <main role="main" class="mt-auto mb-auto">
          <div class="home-title container text-center text-float vh-100">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <h1 class="display-3">Doug Keller</h1>

                <ul class="list-inline text-lowercase">
                  <ng-container *ngFor="let text of gradientTexts; index as i, first as $first">
                    <li class="list-inline-item fade" [ngClass]="{ show: textsToShow > i }" *ngIf="!$first">&middot;</li>
                    <li class="list-inline-item fade" [ngClass]="{ show: textsToShow > i }">
                      <span class="lead font-weight-normal">{{ text }}</span>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <a class="jump-to-link" (click)="scrollToElement(content)"><i class="fa fa-chevron-down"></i></a>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <div class="text-center mb-3">
                      <img class="rounded" width="100%" src="https://media-exp1.licdn.com/dms/image/C5603AQEo4GWA908gKw/profile-displayphoto-shrink_200_200/0?e=1587600000&v=beta&t=3ejhxTmTCEpCTCRqnXgD1Imbe7kYwtA8u9zrAG6ekHE" />
                    </div>

                    <h5 class="card-title">Doug Keller</h5>
                    <h6 class="card-subtitle text-muted mb-2">Software Engineer</h6>
                    <h6 class="card-subtitle text-muted mb-2">Team Lead</h6>

                    <div class="w-100 d-flex justify-content-center">
                      <a class="card-link mx-2" href="https://github.com/DougKeller" target="_blank"><i class="fa fa-github"></i></a>
                      <a class="card-link mx-2" href="https://github.com/DougKeller" target="_blank"><i class="fa fa-linkedin"></i></a>
                      <a class="card-link mx-2" href="mailto:dkeller4113@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-9 accordion" #content>
                <div class="card" *ngFor="let datum of data; first as $first">
                  <div class="card-header">
                    <h4 class="mb-0" id="{{ datum.category.toLowerCase() }}">{{ datum.category }}</h4>
                  </div>

                  <div class="card-body">
                    <p *ngFor="let paragraph of datum.paragraphs; last as $lastParagraph" class="pl-3 pr-3" [ngClass]="{ 'mb-0': $lastParagraph }">{{ paragraph }}</p>

                    <ul *ngIf="datum.list && datum.list.length > 0" class="list-inline mb-0">
                      <li *ngFor="let text of datum.list" class="list-inline-item chiclet" [ngClass]="{ proficient: true }">{{ text }}</li>
                    </ul>

                    <ng-container *ngFor="let item of datum.items; first as $firstItem">
                      <div *ngIf="item.titleLeft || item.titleRight" class="d-flex justify-content-between align-items-center" [ngClass]="{ 'mt-3': !$firstItem }">
                        <span *ngIf="item.titleLeft" class="lead">{{ item.titleLeft }}</span>
                        <span *ngIf="item.titleRight" class="text-muted">{{ item.titleRight }}</span>
                      </div>

                      <span *ngIf="item.subtitle">{{ item.subtitle }}</span>

                      <p *ngIf="item.description" class="card-text text-muted pl-3">{{ item.description }}</p>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        <footer>
          <dk-footer></dk-footer>
        </footer>
      </div>
    </div>
  </div>
</div>
