.home-title {
  margin-top: 35vh;
}

.jump-to-link {
  padding: 20px;
  font-size: 1.4rem;
  cursor: pointer;

  transition: font-size 0.2s ease-in-out;

  &:hover {
    font-size: 1.8rem !important;
  }
}
