<div class="parallax-container">
  <div class="parallax-group">
    <div class="parallax-background dynamic-background"></div>

    <div class="parallax-base">
      <div class="container w-100 h-100 d-flex flex-column">
        <header>
          <dk-header></dk-header>
        </header>

        <main role="main" class="mt-auto mb-auto">
          <router-outlet></router-outlet>
        </main>

        <footer>
          <dk-footer></dk-footer>
        </footer>
      </div>
    </div>
  </div>
</div>
